.footer-sections {
  background-color: #290aff;
  display: flex;
  /* justify-content: space-around; */
  padding: 80px;
  flex-wrap: wrap;
}
.footer-sections h2 {
  line-height: 40px;
  font-family: 'gotham-book';
  color: #fff;
  font-size: 16px;
  margin-bottom: 13px;
}
.footer-details {
  flex-basis: 33%;
}
.footer-details p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  line-height: 28px;
  font-family: 'gotham-medium';
  width: 85%;
  margin-top: 17px;
}
.footer-details ul li {
  display: block;
  padding: 0px;
  margin-bottom: 18px;
}
.footer-details ul li label {
  line-height: 22px;
  font-family: 'gotham-medium';
  color: #fff;
  font-size: 16px;
  padding-left: 15px;
}
.footer-details ul li a {
  line-height: 22px;
  font-family: 'gotham-medium';
  color: #fff;
  font-size: 16px;
}
.footer-details ul li a:hover {
  color: #ff005c;
}
.development {
  display: flex;
}
.development h4 {
  line-height: 22px;
  font-family: 'gotham-book';
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.development ul li {
  line-height: 22px;
  font-family: 'gotham-medium';
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
}
