.welcome-card {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  min-height: 180px;
  margin-bottom: 30px;
  position: relative;
}
.welcome-card h1 {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.brand-card-logo-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
:global(.view-btn) {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  color: #1518af;
  padding: 0px;
  outline: 0;
  position: absolute;
  bottom: 20px;
  right: 40px;
}
:global(.view-btn) span {
  display: inline-block;
  padding-left: 7px;
}
:global(.view-btn:focus) {
  outline: none !important;
}
@media only screen and (max-width: 768px) {
  .brand-card-logo.brand-logo-mobile-hide {
    display: none;
  }
}
